designs/pages/weathersearch.json
[
    {
        "id": "sd_7ETdhgGVFNQNEmde",
        "type": "tab",
        "createdDate": "2022-06-02T21:04:50.521Z",
        "label": "weathersearch",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_HvWjJz1ujlqLqqzT",
        "type": "OnInit",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_HvWjJz1ujlqLqqzT",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_Y4MrP83HmX7QbObo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_Y4MrP83HmX7QbObo",
        "type": "PageVariables",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "searchString",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "logArray",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            }
        ],
        "functionName": "sd_Y4MrP83HmX7QbObo",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_t3mmB5VkRk2Nwihg",
        "type": "PageStart",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "start",
        "name": "updateLog",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "logobject",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateLog",
        "category": "General",
        "x": 25,
        "y": 140,
        "wires": [
            [
                "sd_ogZftGqnZ2dcmCkZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_ogZftGqnZ2dcmCkZ",
        "type": "Script",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.logArray.push(bh.input.logobject);",
        "functionName": "sd_ogZftGqnZ2dcmCkZ",
        "category": "Function",
        "x": 145,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_mEXzJNtOz2f05DWh",
        "type": "PageStart",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "start",
        "name": "processWeather",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "cityName",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "processWeather",
        "category": "General",
        "x": 25,
        "y": 260,
        "wires": [
            [
                "sd_iK9uMpkF1psgOp50"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_iK9uMpkF1psgOp50",
        "type": "Script",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.showCard = (typeof this.page.weatherdata === 'object' && Object.keys(this.page.weatherdata).length > 2);",
        "functionName": "sd_iK9uMpkF1psgOp50",
        "category": "Function",
        "x": 125,
        "y": 260,
        "wires": [
            [
                "sd_9w9Gz20GzkZbhg3w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9w9Gz20GzkZbhg3w",
        "type": "PageSwitch",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "showCard",
        "propertyType": "this.page",
        "propertyGv": "this.page.showCard",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9w9Gz20GzkZbhg3w",
        "category": "Function",
        "x": 225,
        "y": 260,
        "wires": [
            [
                "sd_fSWdpVMZTBrk3wOl"
            ],
            [
                "sd_jeosSmWZt3zOPdcn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jeosSmWZt3zOPdcn",
        "type": "Script",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "localStorage.lastCity = bh.input.cityName;\nbh.input.successlog = {type: 'info', message: 'Successfully Retrieved the Weather Data for city: ' + bh.input.cityName}",
        "functionName": "sd_jeosSmWZt3zOPdcn",
        "category": "Function",
        "x": 365,
        "y": 300,
        "wires": [
            [
                "sd_oyK5O6MZy3jHq72e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_oyK5O6MZy3jHq72e",
        "type": "PageCallService",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "success log",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_7ETdhgGVFNQNEmde",
            "type": "tab",
            "createdDate": "2022-06-02T21:04:50.521Z",
            "label": "weathersearch",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_t3mmB5VkRk2Nwihg",
            "flowName": "updateLog"
        },
        "inputVariables": [
            {
                "key": "logobject",
                "map": true,
                "valueType": "bh",
                "value": "successlog"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./weathersearch",
        "startName": "updateLog",
        "inputParams": [
            "bh.successlog"
        ],
        "accept_csd": false,
        "functionName": "successLog",
        "category": "General",
        "x": 465,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IJpWKm7PIMNXJot4",
        "type": "Catch",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_77qgPHhJpA3QMlgk"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_IJpWKm7PIMNXJot4",
        "category": "General",
        "x": 345,
        "y": 120,
        "wires": [
            [
                "sd_Vhynn0szBFgmFOIC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_Vhynn0szBFgmFOIC",
        "type": "Script",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.errorlog = { type: 'error', message: `Weather Data Not Found${bh.input.cityName ? ` For the City: ${bh.input.cityName}` : ''}!` }",
        "functionName": "sd_Vhynn0szBFgmFOIC",
        "category": "Function",
        "x": 445,
        "y": 120,
        "wires": [
            [
                "sd_fSWdpVMZTBrk3wOl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fSWdpVMZTBrk3wOl",
        "type": "PageCallService",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "Error log",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_7ETdhgGVFNQNEmde",
            "type": "tab",
            "createdDate": "2022-06-02T21:04:50.521Z",
            "label": "weathersearch",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_t3mmB5VkRk2Nwihg",
            "flowName": "updateLog"
        },
        "inputVariables": [
            {
                "key": "logobject",
                "map": true,
                "valueType": "bh",
                "value": "input.errorlog"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./weathersearch",
        "startName": "updateLog",
        "inputParams": [
            "bh.input.errorlog"
        ],
        "accept_csd": false,
        "functionName": "errorLog",
        "category": "General",
        "x": 580,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_touiFKAAMUuEProU",
        "type": "PageStart",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get weather",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "cityName",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "ssdWeatherApiUrl",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "flow_type": "sync",
        "functionName": "getWeather",
        "category": "General",
        "x": 45,
        "y": 500,
        "wires": [
            [
                "sd_iDIGwZrtANCQG6Vn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "weathersearchComponent"
    },
    {
        "id": "sd_iDIGwZrtANCQG6Vn",
        "type": "PageSwitch",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "cityNameNullCheck",
        "property": "cityName",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.cityName",
        "rules": [
            {
                "t": "istype",
                "v": "\"undefined\"",
                "vt": "\"undefined\"",
                "gv": "\"undefined\""
            },
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "istype",
                "v": "\"string\"",
                "vt": "\"string\"",
                "gv": "\"string\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "functionName": "cityNameNullCheck",
        "category": "Function",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "sd_J6OP9SHtLWodc8q3"
            ],
            [
                "sd_J6OP9SHtLWodc8q3"
            ],
            [
                "sd_J6OP9SHtLWodc8q3"
            ],
            [
                "sd_gFb4TTnM6umHvtdR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_J6OP9SHtLWodc8q3",
        "type": "SnackBar",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "snackbar",
        "message": {
            "type": "str",
            "value": "invalid City Name"
        },
        "action": {
            "type": "str",
            "value": "Okay"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "snackbar",
        "category": "General",
        "x": 325,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gFb4TTnM6umHvtdR",
        "type": "Script",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.ssdWeatherApiUrl = `${bh.system.environment.properties.ssdURL}weather`;\nbh.local.qparams = {\n    cityName: bh.input.cityName\n}",
        "functionName": "sd_gFb4TTnM6umHvtdR",
        "category": "Function",
        "x": 325,
        "y": 560,
        "wires": [
            [
                "sd_77qgPHhJpA3QMlgk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_77qgPHhJpA3QMlgk",
        "type": "HttpRequest",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "call server flow",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.local.ssdWeatherApiUrl",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "ssdWeatherApiUrl"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.weatherdata",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "weatherdata"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "paramMapping": "bh.local.qparams",
        "paramMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "qparams"
        },
        "functionName": "callServerFlow",
        "category": "HTTP",
        "x": 445,
        "y": 560,
        "wires": [
            [
                "sd_7If9HBcF7tIUsxIa",
                "sd_RN6UD9vGjANpn394"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7If9HBcF7tIUsxIa",
        "type": "PageCallService",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "callProcessWeather",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_7ETdhgGVFNQNEmde",
            "type": "tab",
            "createdDate": "2022-06-02T21:04:50.521Z",
            "label": "weathersearch",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_mEXzJNtOz2f05DWh",
            "flowName": "processWeather"
        },
        "inputVariables": [
            {
                "key": "cityName",
                "map": true,
                "valueType": "bh.input",
                "value": "cityName"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./weathersearch",
        "startName": "processWeather",
        "inputParams": [
            "bh.input.cityName"
        ],
        "accept_csd": false,
        "functionName": "callProcessWeather",
        "category": "General",
        "x": 565,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RN6UD9vGjANpn394",
        "type": "Log",
        "z": "sd_7ETdhgGVFNQNEmde",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "ssdWeatherApiUrl",
        "outputs": 0,
        "logObject": "bh.local",
        "functionName": "ssdWeatherApiUrl",
        "category": "General",
        "x": 620,
        "y": 580,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
